{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="box">
            <h1 class="title">Who is logged in?</h1>
            <table class="table">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>{{ member.name }}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{ member.email }}</td>
                    </tr>
                    <tr>
                        <td>Access Token:</td>
                        <td>{{ member.access_token }}</td>
                    </tr>
                    <tr>
                        <td>Refresh Token:</td>
                        <td>{{ member.refresh_token }}</td>
                    </tr>
                    <tr>
                    
                    </tr>
                </tbody>
            </table>
            <a href="/refresh" class="button">Refresh Access Token</a>
        </div>
    </div>
{% endblock %}