{% extends "base.html" %}
{% block content %}
    <div class="container">
        <!-- FORM BODY STARTS HERE -->
        <div id="health_claim_form">
            <div class="box">
                <h1 class="title">Health Insurance Subrogation Claim Details</h1>
                <h2 class="subtitle">{{ health_claim.client.full_name }} - {{ health_claim.health_insurance.name }}</h2>
             <!--   <form method="POST" action="/healthclaim/client/{{ health_claim.client_id }}/healthinsurance/{{ health_claim.health_insurance.id }}">
                 MEMBER ID AND EVENT ID -->
                 <form method="POST" action="{{ url_for('healthclaim.details', tenant_name=tenant_name , health_insurance_id=health_insurance_id , client_id = client_id) }}">
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <label class="label">Member ID</label>
                            <div class="control">
                                <input class="input" type="text" value="{{ health_claim.member_id }}" name="member_id">
                            </div>
                        </div>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <label class="label">Event Number</label>
                            <div class="control">
                                <input class="input" type="text" value="{{ health_claim.event_number }}" name="event_number">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- HIPAA AND LOR SENT -->
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <label class="label">Is HIPAA Sent?</label>
                            <div class="select">
                                <select name="is_hipaa_sent">
                                    <option>{{ health_claim.is_hipaa_sent }}</option>
                                    <option>True</option>
                                    <option>False</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Is LOR Sent?</label>
                            <div class="select">
                                <select name="is_lor_sent">
                                    <option>{{ health_claim.is_lor_sent }}</option>
                                    <option>True</option>
                                    <option>False</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Date of Last Request</label>
                            <div class="control">
                                <input class="input" type="date" value="{{ health_claim.last_request_date}}" name="last_request_date">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- LOG DETAILS -->
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <label class="label">Is log received?</label>
                            <div class="select">
                                <select name="is_log_received">
                                    <option>{{ health_claim.is_log_received }}</option>
                                    <option>True</option>
                                    <option>False</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Total Due</label>
                            <div class="control">
                                <input class="input" type="number" step="0.01" min="0" value="{{ health_claim.total_due }}" name="total_due">
                            </div>
                        </div>
                    </div>
                </div>
                 <!-- ADJUSTER INFORMATION -->
                 <div class="field">
                    <label class="label">Health Adjuster</label>
                    <div class="select">
                        <select name="health_adjuster_id">
                            <option value="{{ health_claim.health_adjuster_id }}">{{ health_claim.adjuster.full_name }}</option>
                            {% for health_adjuster in health_adjusters %}<option value="{{ health_adjuster.id }}">{{ health_adjuster.full_name }}</option>{% endfor %}
                        </select>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <label class="label">Adjuster Phone</label>
                            <div class="content">
                                <p>{{ health_claim.adjuster.phone }}</p>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Adjuster Fax</label>
                            <div class="content">
                                <p>{{ health_claim.adjuster.fax }}</p>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Adjuster Email</label>
                            <div class="content">
                                <p>{{ health_claim.adjuster.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BUTTON -->
                <div class="buttons is-right">
                    <button class="button is-large">Update</button>
                </div>
            </form>
            <div class="buttons is-left">
               <!-- <a class="button is-large is-danger" href="/delete/healthclaim/client/{{health_claim.client_id}}/healthinsurance/{{health_claim.health_insurance.id}}">Delete Claim</a>-->
                <a class="button is-large is-danger" href="{{ url_for('healthclaim.delete',tenant_name=tenant_name,health_insurance_id=health_insurance_id,client_id=client_id)}}">Delete Claim </a>
            </div>
            </div>
        </div>
        <!-- FORM BODY ENDS HERE -->
    </div>
{% endblock %}
