{% extends "base.html" %}
{% block head %}
<script>
    function addProvider(){
        let element = '<div class="field"><label class="label">Provider</label><div class="control"><div class="select is-multiple"><select name="med_provider"><option value=""></option>{% for medical_provider in medical_providers %}<option value="{{ medical_provider.id }}">{{ medical_provider.name }}</option>{% endfor %}</select></div></div></div>';
        $(document).ready(function(){
            $("#providers-container").append(element);
        });
    }
</script>
{% endblock %}

{% block content %}
<div class="container">
<h1 class="title">Accident and Primary Client Information</h1>
<!----------------ACCIDENT INFORMATION------------->

<form method="POST" action="{{ url_for('intakemini.primary', tenant_name=tenant_name ) }}">
<div class="box has-background-white">
    <h2 class="subtitle">Accident Information</h2>
    <!-- ACCIDENT DATE AND TIME START-->
        <div class="field-body">
            <!-- date_of_loss (MODELED) -->
            <div class="field">
                <label class="label">Date of Loss:</label>
                <div class="control">
                    <input class="input" type="date" name="date_of_loss" required>
                </div>
            </div>
        </div>

    <!-- ACCIDENT DATE AND TIME END -->
    <!-- ACCIDENT LOCATION START -->
    <div class="field is-horizontal">
        <div class="field-body">
            <!-- wreck_city (MODELED)-->
            <div class="field">
                <label class="label">City</label>
                <div class="control">
                    <input class="input" type="text" name="wreck_city">
                </div>
            </div>
            <!-- wreck_state (MODELED) -->
            <div class="field">
                <label class="label">State</label>
                <div class="control">
                    <input class="input" type="text" name="wreck_state">
                </div>
            </div>
            <!-- wreck_county (MODELED) -->
            <div class="field">
                <label class="label">County</label>
                <div class="control">
                    <input class="input" type="text" name="wreck_county">
                </div>
            </div>
        </div>
    </div>
    <!-- ACCIDENT LOCATION END -->
    <!-- ACCIDENT DESCRIPTIONS START-->
    <!-- wreck_type (MODELED)-->
    <div class="field">
        <label class="label">What type of accident occurred?</label>
        <div class="control is-expanded">
            <div class="select is-fullwidth">
                <select name="wreck_type">
                    <option></option>
                    <option>T BONE</option>
                    <option>LANE CHANGE</option>
                    <option>REAR END</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-body">
            <!-- defendant_count (MODELED)-->
            <div class="field">
                <label class="label">How many other vehicles (defendants) were involved in this accident?</label>
                <div class="control">
                    <input class="input" type="number" name="defendant_count" min="1" value="1" required>
                </div>
            </div>
            <!-- client_count (MODELED) -->
            <div class="field">
                <label class="label">How many people total are we representing in this case?</label>
                <div class="control">
                    <input class="input" type="number" name="client_count" min="1" value="1" required>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- ACCIDENT DETAILS END -->
<div class="box has-background-white">
    <!----------------CLIENT INFORMATION------------->    
    <h2 class="subtitle">Primary Client Information</h2>
    <div class="field is-horizontal">
        <div class="field-body">
            <!-- is_driver -->
            <div class="field">
                <label class="label">Is this client the driver?</label>
                <div class="select">
                    <select name="is_driver">
                        <option></option>
                        <option>True</option>
                        <option>False</option>
                    </select>
                </div>
            </div>
            <!-- first_name (MODELED)-->
            <div class="field">
                <label class="label">First Name</label>
                <div class="control">
                    <input class="input" type="text" name="first_name" required>
                </div>
            </div>
            <!-- middle_name (MODELED)-->
            <div class="field">
                <label class="label">Middle Name</label>
                <div class="control">
                    <input class="input" type="text" name="middle_name">
                </div>
            </div>
            <!-- last_name (MODELED)-->
            <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                    <input class="input" type="text" name="last_name" required>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-body">
            <!-- dob (MODELED)-->
            <div class="field">
                <label class="label">Date of Birth</label>
                <div class="control">
                    <input class="input" type="date" name="dob">
                </div>
            </div>
            <!-- ssn (MODELED)-->
            <div class="field">
                <label class="label">Social Security Number</label>
                <div class="control">
                    <input class="input" type="text" name="ssn">
                </div>
            </div>
        </div>
    </div>
    
    <div class="field is-horizontal">
        <div class="field-body">
            <!-- street_address (MODELED)-->
            <div class="field">
                <label class="label">Street Address</label>
                <div class="control">
                    <input class="input" type="text" name="street_address">
                </div>
            </div>
            <!-- city (MODELED)-->
            <div class="field">
                <label class="label">City</label>
                <div class="control">
                    <input class="input" type="text" name="city">
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-body">
            <!-- state (MODELED)-->
            <div class="field">
                <label class="label">State</label>
                <div class="control">
                    <input class="input" type="text" name="state">
                </div>
            </div>
            <!-- zip_code (MODELED)-->
            <div class="field">
                <label class="label">Zip Code</label>
                <div class="control">
                    <input class="input" type="text" name="zip_code">
                </div>
            </div>
        </div>
    </div>
    
    <div class="field is-horizontal">
        <div class="field-body">
            <!-- primary_phone (MODELED)-->
            <div class="field">
                <label class="label">Primary Phone</label>
                <div class="control">
                    <input class="input" type="text" name="primary_phone">
                </div>
            </div>
            <!-- secondary_phone (MODELED)-->
            <div class="field">
                <label class="label">Secondary Phone</label>
                <div class="control">
                    <input class="input" type="text" name="secondary_phone">
                </div>
            </div>
            <!-- email (MODELED)-->
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" type="text" name="email">
                </div>
            </div>
        </div>
    </div>
    
    <div class="field is-horizontal">
        <div class="field-body">
            <!-- referrer (MODELED)-->
            <div class="field">
                <label class="label">Who referred this client to us?</label>
                <div class="control">
                    <input class="input" type="text" name="referrer">
                </div>
            </div>
            <!-- referrer_relationship (MODELED)-->
            <div class="field">
                <label class="label">Relationship</label>
                <div class="control">
                    <input class="input" type="text" name="referrer_relationship">
                </div>
                <p class="help">How are they related to the referring party?</p>
            </div>
        </div>
    </div>
    <!----------------BODILY INFORMATION------------->
        <!-- medical_provider_list (MODELED.... FOR NOW)-->
        <div id="providers-container">
            <div class="field">
                <label class="label">Please list the names of all doctors and medical providers seen as a result of the accident</label>
                <div class="control">
                    <div class="select is-multiple">
                        <select name="med_provider">
                            <option value=""></option>
                            {% for medical_provider in medical_providers %}<option value="{{ medical_provider.id }}">{{ medical_provider.name }}</option>{% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="block">
            <div class="buttons">
                <p class="button" onclick="addProvider();">Add Another Provider</p>
            </div>
        </div>

    <!----------------HEALTH INSURANCE INFORMATION------------->
 
        <div class="field is-horizontal">
            <div class="field-body">
                <!-- hi (radio BOOLEAN) (Modeled)-->
                <div class="field">
                    <label class="label">Does this client have health insurance?</label>
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="has_hi" value="True">
                            True
                        </label>
                        <label class="radio">
                            <input type="radio" name="has_hi" value="False">
                            False
                        </label>
                    </div>
                </div>
                <!-- health_insurance_id (MODELED.... FOR NOW)-->
                <div id="providers-container">
                    <div class="field">
                        <label class="label">Health Insurance Provider</label>
                        <div class="control">
                            <div class="select is-multiple">
                                <select name="health_insurance_id">
                                    <option value=""></option>
                                    {% for health_insurance_provider in health_insurance_providers %}<option value="{{ health_insurance_provider.id }}">{{ health_insurance_provider.name }}</option>{% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- hi_member_id (Modeled)-->
                <div class="field">
                    <label class="label">Member ID #</label>
                    <div class="control">
                        <input class="input" type="text" name="member_id">
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="box has-background-white">
    <!-------CLIENT AUTO INSURANCE INFORMATION--------->
        <h2 class="subtitle">First Party Auto Insurance Information</h2>
        <div class="field is-horizontal">
            <div class="field-body">
                <!-- auto_insurance_id (MODELED.... FOR NOW)-->
                <div id="providers-container">
                    <div class="field">
                        <label class="label">Auto Insurance Company</label>
                        <div class="control">
                            <div class="select is-multiple">
                                <select name="auto_insurance_id">
                                    <option value=""></option>
                                    {% for auto_insurance_provider in auto_insurance_providers %}<option value="{{ auto_insurance_provider.id }}">{{ auto_insurance_provider.name }}</option>{% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- policy_number (MODELED)-->
                <div class="field">
                    <label class="label">Policy Number:</label>
                    <div class="control">
                        <input class="input" type="text" name="policy_number">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="field is-horizontal">
            <div class="field-body">
                <!-- medpay (radio BOOLEAN) (MODELED)-->
                <div class="field">
                    <label class="label">Do they have MedPay on their policy?</label>
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="has_medpay" value="True">
                            True
                        </label>
                        <label class="radio">
                            <input type="radio" name="has_medpay" value="False">
                            False
                        </label>
                    </div>
                </div>
                <!-- mp_amount (MODELED) -->
                <div class="field">
                    <label class="label">If yes, how much?</label>
                    <div class="control">
                        <input class="input" type="number" name="medpay_amount">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <!-- uninsured_motorist (radio BOOLEAN) (MODELED) -->
                <div class="field">
                    <label class="label">Do they have UM on their policy?</label>
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="has_um_coverage" value="True">
                            True
                        </label>
                        <label class="radio">
                            <input type="radio" name="has_um_coverage" value="False">
                            False
                        </label>
                    </div>
                </div>
                <!-- um_amount (MODELED)-->
                <div class="field">
                    <label class="label">If yes, how much?</label>
                    <div class="control">
                        <input class="input" type="text" name="um_amount">
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
                <div class="field-body">
                    <!-- first_party_claim_number (MODELED) -->
                    <div class="field">
                        <label class="label">Claim Number</label>
                        <div class="control">
                            <input class="input" type="text" name="claim_number">
                        </div>
                    </div>
            </div>
        </div>
    <div class="field">
        <div class="buttons is-right">
            <button class="button is-inverted is-large">
                <span class="icon-text">
                    <span>Next Page</span>
                    <span class="icon">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                </span>
            </button>
        </div>  
    </div>
</div>
</div>
</form>
</div>
{% endblock %}